.App {
  max-width: 98%;
  margin: 20px auto;
  text-align: center;
}
.cmd-box {
  padding: 15px;
  background-color: black;
  color: rgb(55, 255, 0);
  overflow-y: scroll;

}
input {
  padding: 8px;
  margin: 10px;
  width: 70%;
  border: 1px solid #ccc;
}